@import '../../../utils/colors.scss';
@import '../../../utils/variables.scss';

.root {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg_app_header;
  color: $white;
}