@import './reset.scss';

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type='radio'] {
  cursor: pointer;
}