@import './reset.scss';
@import './colors.scss';
@import './variables.scss';

html {
  width: 100%;
  font-size: $fsize_html_base;
}

body {
  width: 100%;
  font-size: $fsize_medium;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg_app;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='file'] {
  cursor: pointer;
}

input[type='text'],
input[type='password'],
textarea,
select {
  outline: none;
}

::placeholder {
  color: $light_gray;
}