@import '../../utils/colors.scss';

.root {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  select {
    width: 100%;
    min-height: 40px;
    padding: 10px 32px 10px 10px;
    margin: 0;
    background-color: $light;
    border: 1px solid $primary;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &:after  {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $primary;
    pointer-events: none;
  }

  &[data-attention='true'] {

    select {
      border-color: $danger;
    }

    &:after {
      border-top-color: $danger;
    }
  }

  &[data-disabled='true'] {
    cursor: default;
    pointer-events: none;

    select {
      background-color: $pale_gray;
      color: $pale_blue;
      border-color: $pale_blue;
    }

    &:after {
      border-top-color: $pale_blue;
    }
  }
}