@import '../../../utils/colors.scss';

.root {
  display: flex;
  padding: 10px;
  background-color: $bgcolor_app_main;

  .content {
    width: 100%;
    min-height: calc(100vh - 180px);
  }
}