@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 5rem;
    line-height: 1.1;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .form-field {
    position: relative;
    width: 100%;

    .icon {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark_gray;
      color: $white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .input {
      height: 50px;
      padding-left: 60px;
    }
  }

  .button {
    height: 50px;
  }
}