@import '../../../utils/colors.scss';
@import '../../../utils/variables.scss';

details {
  padding-top: 10px;
}

figure {
  padding-top: 20px;
}

.root {
  display: flex;
  background-color: $ORANGE;
  border: 1px solid $primary;
  box-sizing: border-box;
  height: 200px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pale_white;
    border: 1px solid $danger;
    box-sizing: border-box;
    padding: 20px;
    font-size: $fsize_x_large;
  }
}