@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  width: 200px;
  height: 100%;
  background-color: $white;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  overflow-y: auto;

  ul li {
    border: 1px solid $SILVER;
    transition: 500ms;

    &:not(:first-child) {
      margin-top: 1px;
    }

    &>a {
      display: flex;
      align-items: center;
      background-color: $white;
      color: $WET_ASPHALT;
      transition: 500ms;

      &[data-active='true'] {
        background-color: $PETER_RIVER;
        color: $white;

        &>span:first-child {
          background-color: $BELIZE_HOLE;

          &>svg {
            color: $white;
          }
        }
      }

      &>span:first-child {
        height: 40px;
        width: 40px;
        padding: 10px;
        box-sizing: border-box;
        color: #262626;
        transition: 250ms;

        &>svg {
          width: 20px;
          height: 20px;
          transition: 500ms;
        }
      }

      &>span:last-child {
        padding: 10px 5px;
        line-height: 20px;
        font-size: $fsize_x_large;
        text-shadow: 0.4px 0.4px 5px rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      transform: translateX(20px);
      border-color: $PETER_RIVER;

      &>a {
        background-color: $PETER_RIVER;
        color: $white;

        &>span:first-child {
          background-color: $BELIZE_HOLE;

          &>svg {
            color: $white;
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
}