@import '../../../utils/colors.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: $bgcolor_app_footer;
  color: $dark;

  .icon {
    width: 40px;
    height: 40px;
  }
}