@import './_reset.scss';
@import './colors.scss';
@import './variables.scss';

html {
  width: 100%;
  font-size: $fsize_html_base;
}

body {
  width: 100%;
  font-size: $fsize_medium;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: $bg_app;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: inline-block;
  cursor: pointer;
}

select {
  appearance: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='file'] {
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
}

td {
  cursor: pointer;
}

::placeholder {
  color: $light_gray;
}

#root {
  width: 100%;
}