$fsize_html_base: 10px;
$fsize_small: 1rem;
$fsize_medium: 1.3rem;
$fsize_large: 1.6rem;
$fsize_x_large: 1.8rem;
$fsize_xx_large: 2.4rem;
$fsize_xxx_large: 2.6rem;
$fsize_xxxx_large: 3.2rem;

$top_layer: 2000;
$top_content_layer: 2001;
$app_header_layer: 100;
$modal_overlay_layer: 1000;
$modal_content_layer: 1001;