@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  color: $black;
  padding: 10px 0;

  &.h1 {
    font-size: $fsize_xx_large;
  }

  &.h2 {
    font-size: $fsize_x_large;
  }

  &.h3 {
    font-size: $fsize_large;
  }

  &[data-weight='bold'] {
    font-weight: bold;
  }

  &[data-weight='lighter'] {
    font-weight: lighter;
  }

  &[data-weight='bolder'] {
    font-weight: bolder;
  }

  &[data-color='white'] {
    color: $white;
  }
}