@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  color: $WET_ASPHALT;

  &.h1 {
    font-size: $fsize_xxxx_large;
    line-height: 40px;
    font-weight: 900;
  }

  &.h2 {
    font-size: $fsize_xxx_large;
    line-height: 40px;
    font-weight: 700;
  }

  &.h3 {
    font-size: $fsize_xx_large;
    line-height: 40px;
    font-weight: 700;
  }

  &.h4 {
    font-size: $fsize_x_large;
    line-height: 20px;
    font-weight: 500;
  }

  &.h5 {
    font-size: $fsize_large;
    line-height: 20px;
    font-weight: 500;
  }

  &.h6 {
    font-size: $fsize_medium;
    line-height: 20px;
    font-weight: 500;
  }

  &[data-color='white'] {
    color: $white;
  }
}