@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  width: 200px;
  background-color: #F1F1F1;
  cursor: pointer;

  > a {
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-size: $fsize_large;
    color: $dark;

    &:hover,
    &[data-active='true'] {
      background-color: #4CAF50;
      color: $white;
    }
  }
}