.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main {
    padding-top: 70px;

    .navigation-bar {
      position: fixed;
      height: calc(100vh - 70px);
    }

    .container {
      padding-left: 210px;

      .content {
        padding-bottom: 10px;
      }
    }
  }
}