@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  &[data-type='modal'] {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $modal_overlay_layer;
  }

  &[data-type='loading'] {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: $top_layer;
  }
}