
@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  z-index: $modal_content_layer;
  padding: 25px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: $white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fsize_xx_large;
    font-weight: 700;

    .icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      float: left;

      &:hover {
        background-color: $dark;
        color: $light;
        border-radius: 50%;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
}

@keyframes dropdown {
  0% {
    top: 0%;
    transform: translate(-50%, 0%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.animation {
  animation: dropdown .4s ease-out;
}