
@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: $modal_content_layer;
  padding: 25px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: $white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $WET_ASPHALT;

    .title {
      padding-right: 10px;
      font-size: $fsize_xx_large;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    > :not(:first-child) {
      margin-left: 20px;
    }
  }
}

@keyframes dropdown {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

.animation-dropdown {
  animation: dropdown 500ms ease-out;
}

@keyframes iconHover {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.animation-icon-hover:hover {
  animation: iconHover 1s;
}