
@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: $modal_content_layer;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: $white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fsize_xx_large;
    font-weight: 700;

    svg {
      cursor: pointer;
      width: 20px;
      height: 20px;
      float: left;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
}