.root {
  width: 100%;

  &[data-padding='5'] {
    padding: 5px 0;
  }

  &[data-padding='10'] {
    padding: 10px 0;
  }

  &[data-padding='15'] {
    padding: 15px 0;
  }

  &[data-padding='20'] {
    padding: 20px 0;
  }
}