.root {
  display: flex;
  align-items: center;

  >input[type='file'] {
    display: none;
  }

  .view {
    display: flex;
    align-items: center;
    padding-left: 5px;

    .name {
      padding-left: 3px;
    }
  }
}