@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  width: 200px;
  height: 100%;
  background-color: $white;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  overflow: auto;

  .item {
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-weight: 500;
    font-size: $fsize_x_large;
    color: $dark;
    padding: 8px 16px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      transition: background-color 250ms linear;
    }

    &[data-active='true'] {
      color: $bgcolor_app_header;
    }
  }
}