@import '../../utils/colors.scss';

.root {
  display: inline-flex;
  align-items: center;
  height: 20px;

  .input {
    display: flex;
    align-items: center;

    input {
      display: none;
    }

    .radio {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid $bdcolor_input;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: $white;
        transition: border-color 250ms;

        &::after {
          content: '';
          display: none;
          width: 10px;
          height: 10px;
          top: 0;
          left: 0;
          margin: 2px;
          border-radius: 50%;
          background-color: $TURQUOISE;
        }

        &[data-checked='true'] {
          border-color: $TURQUOISE;

          &::after {
            display: block;
          }
        }

        &[data-disabled='true'] {
          border-color: $bdcolor_input;

          &[data-checked='true']::after {
            background-color: $bdcolor_input;
          }
        }
      }
    }

    .children {
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: color 250ms;
    }

    &:hover {
      cursor: pointer;
      color: $TURQUOISE;
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;

      > .children {
        color: $color_input_disabled_checked;
      }
    }
  }
}