@import '../../utils/colors.scss';

.root {
  display: inline-flex;
  align-items: center;
  height: 20px;

  .input {
    display: flex;
    align-items: center;

    input {
      display: none;
    }

    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: $bdcolor_input;

        &::before {
          content: '';
          display: none;
          position: absolute;
          width: 3px;
          height: 5px;
          top: 6px;
          left: 4px;
          transform: rotate(-45deg);
          background-color: $white;
        }

        &::after {
          content: '';
          display: none;
          position: absolute;
          width: 3px;
          height: 9px;
          top: 3px;
          left: 8px;
          transform: rotate(45deg);
          background-color: $white;
        }

        &[data-checked='true'] {
          background-color: $PETER_RIVER;

          &::before, &::after {
            display: block;
          }
        }

        &[data-disabled='true'] {
          background-color: $CONCRETE;
        }
      }
    }

    .children {
      padding-left: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      cursor: pointer;
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;

      > .children {
        opacity: 0.5;
      }
    }
  }
}