@import '../../utils/colors.scss';

.root {
  display: inline-flex;
  align-items: center;
  height: 20px;

  .input {
    display: flex;
    align-items: center;

    input {
      display: none;
    }

    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: $bdcolor_input;
        transition: background-color 250ms;

        &::before {
          content: '';
          display: none;
          position: absolute;
          width: 3px;
          height: 7px;
          top: 7px;
          left: 5px;
          transform: rotate(-45deg);
          background-color: $white;
        }

        &::after {
          content: '';
          display: none;
          position: absolute;
          width: 3px;
          height: 11px;
          top: 4px;
          left: 10px;
          transform: rotate(45deg);
          background-color: $white;
        }

        &[data-checked='true'] {
          background-color: $TURQUOISE;

          &::before, &::after {
            display: block;
          }
        }

        &[data-disabled='true'] {
          background-color: $bdcolor_input;
        }
      }
    }

    .children {
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: color 250ms;
    }

    &:hover {
      cursor: pointer;
      color: $TURQUOISE;
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;

      > .children {
        color: $color_input_disabled_checked;
      }
    }
  }
}