@import '../../../utils/colors.scss';

.control {
  width: 100%;
  display: flex;
  background-color: $white;
  border-left: 4px solid $deep_sky;
  padding: 20px;
  box-sizing: border-box;

  .control-type {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .control-size {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}