.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 5rem;
    padding-bottom: 30px;
  }

  .input {
    height: 50px;
  }

  .button {
    height: 50px;
  }
}