.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .input {
    height: 50px;
    border: 1px solid rgba(0,0,0,0.5);
  }

  .button {
    height: 50px;
  }
}