@import '../../utils/colors.scss';

.root {
  width: 100%;
  border-bottom: 1px solid $blue_ash;

  &[data-margin='5'] {
    margin: 5px 0;
  }

  &[data-margin='10'] {
    margin: 10px 0;
  }

  &[data-margin='15'] {
    margin: 15px 0;
  }

  &[data-margin='20'] {
    margin: 20px 0;
  }
}