@import '../../utils/colors.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: $light_pink;
  border: 2px solid $danger;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
}