@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-shadow: 0.4px 0.4px 2px rgba(0,0,0,0.2);

  &[data-ellipsis='true'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &[data-active='false'] {
    color: $basic_silver;
  }

  &[data-align='left'] {
    text-align: left;
  }

  &[data-align='center'] {
    text-align: center;
  }

  &[data-align='right'] {
    text-align: right;
  }

  &[data-align='justify'] {
    text-align: justify;
  }

  &[data-weight='bold'] {
    font-weight: bold;
  }

  &[data-weight='lighter'] {
    font-weight: lighter;
  }

  &[data-weight='bolder'] {
    font-weight: bolder;
  }

  &[data-transform='uppercase'] {
    text-transform: uppercase;
  }

  &[data-transform='lowercase'] {
    text-transform: lowercase;
  }

  &[data-transform='capitalize'] {
    text-transform: capitalize;
  }

  &[data-decoration='overline'] {
    text-decoration: overline;
  }

  &[data-decoration='underline'] {
    text-decoration: underline;
  }

  &[data-decoration='line-through'] {
    text-decoration: line-through;
  }

  &[data-color='primary'] {
    color: $primary;
  }

  &[data-color='secondary'] {
    color: $secondary;
  }

  &[data-color='success'] {
    color: $success;
  }

  &[data-color='danger'] {
    color: $danger;
  }

  &[data-color='warning'] {
    color: $warning;
  }

  &[data-color='info'] {
    color: $info;
  }

  &[data-color='light'] {
    color: $light;
  }

  &[data-color='dark'] {
    color: $dark;
  }

  &[data-size='small'] {
    font-size: $fsize_small;
  }

  &[data-size='medium'] {
    font-size: $fsize_medium;
  }

  &[data-size='large'] {
    font-size: $fsize_large;
  }

  &[data-size='x_large'] {
    font-size: $fsize_x_large;
  }
}