@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: $modal_content_layer;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 15, 37, 0.65);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fsize_x_large;
    color: $white;
  }
}