@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 250ms linear, color 250ms linear;

  &:disabled {
    cursor: default;
    pointer-events: none;
    background-color: $CONCRETE !important;
    color: $white !important;
  }

  &[data-type='primary'] {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary_hover;
    }
  }

  &[data-type='secondary'] {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: $secondary_hover;
    }
  }

  &[data-type='success'] {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: $success_hover;
    }
  }

  &[data-type='danger'] {
    background-color: $danger;
    color: $white;

    &:hover {
      background-color: $danger_hover;
    }
  }

  &[data-type='warning'] {
    background-color: $warning;
    color: $white;

    &:hover {
      background-color: $warning_hover;
    }
  }

  &[data-type='info'] {
    background-color: $info;
    color: $white;

    &:hover {
      background-color: $info_hover;
    }
  }

  &[data-type='light'] {
    background-color: $light;
    border: 1px solid $SILVER;
    color: $black;

    &:hover {
      background-color: $light_hover;
    }
  }

  &[data-type='dark'] {
    background-color: $dark;
    color: $white;

    &:hover {
      background-color: $dark_hover;
    }
  }

  &[data-size='small'] {
    font-size: $fsize_medium;
    min-width: 70px;
    height: 36px;
    padding: 0 15px;
  }

  &[data-size='medium'] {
    font-size: $fsize_medium;
    min-width: 120px;
    height: 36px;
    padding: 0 15px;
  }

  &[data-size='large'] {
    font-size: $fsize_large;
    min-width: 120px;
    height: 40px;
    padding: 0 15px;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(100, 100);
    opacity: 0;
  }
}

.animation {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    opacity: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
  }

  &:focus:not(:active)::after {
    animation: ripple 1s ease-out;
  }
}