@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  &:hover,
  &:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  &[data-type='primary'] {
    background-color: $primary;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='secondary'] {
    background-color: $secondary;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='success'] {
    background-color: $success;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='danger'] {
    background-color: $danger;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='warning'] {
    background-color: $warning;
    color: $black;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='info'] {
    background-color: $info;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='light'] {
    background-color: $light;
    color: $black;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-type='dark'] {
    background-color: $dark;
    color: $white;

    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: $pale_gray;
      color: $pale_blue;
    }
  }

  &[data-size='small'] {
    font-size: $fsize_medium;
    min-width: 70px;
    height: 36px;
    padding: 0 15px;
  }

  &[data-size='medium'] {
    font-size: $fsize_medium;
    min-width: 120px;
    height: 36px;
    padding: 0 15px;
  }

  &[data-size='large'] {
    font-size: $fsize_large;
    min-width: 120px;
    height: 40px;
    padding: 0 15px;
  }
}